html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.wrapper{
	display:grid;
	grid-template-columns: 50% 50%;
	}
.wrapper > div{
	padding: 2em;
	}
    
.name{
	
	font-size: 50px; 
	background-color:red;	
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	padding: 0em;
}
.job{
	
	font-size: 25px; 
	border-bottom: 5px solid black;
	vertical-align: center;
	padding: 0em;
}
.info{
	border-bottom: 3px solid black; 
	border-right: 5px solid black;
	margin-bottom: 10 px;
}
.about{
	background-color:yellow; 
	border-bottom: 3px solid black;
}
.blue{
	background-color:blue; 
	border-right: 5px solid black;
}
.content{
	 
	border-right: 5px solid black;
	border-bottom: 3px solid black;
}
.experience{
	border-bottom: 3px solid black;
}


